body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100vw;
    margin: auto;
    width: max-content;
    z-index: 5;
}

li {
    position: absolute;
    top: 0;
    transition: top ease-in-out 300ms;
}

/* @keyframes openMenu {
    from {
        top: 0
    }
    to {
        top: 5rem;
    }
}

@keyframes closeMenu {
    from {
        top: 5rem
    }
    to {
        top: 0;
    }
} */

span {
    width: 10rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid red;
    color: white;
    transition: 300ms;
}